.nav-es{
 
     background-color: #120220;
    
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  background-color: #3e044d;
  color: white;
}

.fondo{
   width: 100%;      
   height: auto;   
 

}

#Hero-Section {  
  background-image: url("../img/Banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}


.fondo-personalizado {
  background-image: url('../img/Fondo_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.footer-es{
 
   background-color: #120220;
}
  

#goTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#goTop a {
    background: #e9dbff;
    color: #e9dbff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    transition: opacity 0.3s linear;
    border-radius: 6px;
}
#goTop a:hover {
      opacity: 0.7;
    }