.nav-es{
 
     background-color: #120220;
    
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  background-color: #3e044d;
  color: white;
}

.fondo{
   width: 100%;      
   height: auto;   
 

}

#Hero-Section {  
  background-image: url("../img/Banner5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}


.fondo-personalizado {
  background-image: url('../img/Fondo_3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.portfolio h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.portfolio-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.portfolio-img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.portfolio {
  background-color: #f8f9fa;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.portfolio h2 {
  font-size: 2rem;
  border-bottom: 2px solid #000;
  padding-bottom: 0.5rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  width: fit-content;
}

.portfolio-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.portfolio-img:hover {
  transform: scale(1.03);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.portfolio-img {
  max-height: 300px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
  border-radius: 8px;
}

.portfolio-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
  width: auto;
}

@media (min-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    top: 45%;
    transform: translateY(-50%);
  }
}



.footer-es{
 
   background-color: #120220;
}
  

#goTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#goTop a {
    background: #e9dbff;
    color: #e9dbff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    transition: opacity 0.3s linear;
    border-radius: 6px;
}
#goTop a:hover {
      opacity: 0.7;
    }