body {
  background-color: #4b024e;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  text-align: center;
  width: 600px;
}

h1 {
  border-top: 1px solid #f0ffa8;
  border-bottom: 1px solid #f0ffa8;
  padding: 10px 0;
}

.card {
  background: #a969ac;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  padding: 8px;
  margin: 10px 0;
  width: 80%;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #4b024e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #ffb5f9;
}

.error {
  color: #f87171;
  margin-top: 10px;
}